# Source
src/**/*.test.ts
src/**/*.spec.ts
src/**/__tests__/**

# Development files
.github
.husky
assets
coverage
jest.config.cjs
.prettierrc
.eslintrc*
eslint.config.js
tsconfig.json
CHANGELOG.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md

# Environment
.env*
.editorconfig
.vscode
.DS_Store
.git
.gitignore 